.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Alata", sans-serif;
}
header {
  align-self: stretch;
  text-align: center;
}
h1 {
  margin: 0px;
  padding: 10px;
  background-color: #cdf4e0;
  color: black;
}
main {
  display: flex;
  flex-direction: column;
  align-items: center;
}
form {
  margin: 40px;
}
.lists {
  width: 320px;
  text-align: left;
  min-height: 75vh;
  padding: 20px;
  margin-bottom: 40px;
  border: solid 1px #cdcdcd;
  border-radius: 10px;
}
.to-do-list {
  list-style: none;
  padding: 10px;
  margin: 0;
}
.completed-list {
  list-style: none;
  color: #cdcdcd;
  padding: 10px;
  margin: 0;
}
